@model IEnumerable<MyField.Models.IndividualNewsReport>

@{
    ViewData["Title"] = "Individual News Reports";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<br />
@await Html.PartialAsync("_HomeButton")
<br />
<h4 class="text-center">Individual News Reports</h4>
<br />
<div class="table-responsive">
    <table class="table table-striped table-borderless">
        <thead>
            <tr style="color:white;background-color: #324260; white-space: nowrap;">
                <th>
                    News Title
                </th>
                <th>
                    No. of readers
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="ellipsis">
                    <td>
                        @Html.DisplayFor(modelItem => item.SportNews.NewsHeading)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReadersCount)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

