@{
    ViewData["Title"] = "Warnings Reports";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}
<br />
@await Html.PartialAsync("_HomeButton")
<h4 class="text-center">Warnings Reports</h4>
<br />

<div style="text-align:center; justify-content:center;">
    <p class="text-center" style="margin-top: 20vh; margin-bottom: 20vh;">Comming soon...</p>
</div>