@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserBaseModel> SignInManager
@inject UserManager<UserBaseModel> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewData["Title"] - Diski360</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyField.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>



<body>

    <div id="loading-overlay">
        <div class="loading-container">
            <div class="loading-spinner"></div>
            <div class="loading-text">Loading...</div>
        </div>
    </div>


    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm" id="loginNav">
            <div class="container-fluid d-flex align-items-center justify-content-between">

                <div class="d-flex align-items-center">
                    <a class="navbar-brand ml-2" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">Diski360</a>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-light bg-light" id="scrollTextNav-pl">
            <div class="container-fluid">
                <div class="scrolling-text-container">
                    <div class="scrolling-text">
                        <p>This is a BETA version of our application. We have released this version for testing purposes to gather feedback and improve the final release. Please note that some features available here may be part of a premium version in the full release. We value your input—please share your feedback using the feedback button located at the bottom-right corner of the page. Your comments are crucial in helping us enhance the application.</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="page-content-wrapper" class="main-content">
        <div class="container-fluid" style="padding-right:20px; padding-left:20px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <a asp-controller="Reports" asp-action="TestFeedback" class="floating-button">
        <span class="rotate">Share Feedback</span>
    </a>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var baseUrl = window.location.href.split('#')[0];
    var previousPage = null;
    var loadingOverlay = $('#loading-overlay');

    // Show loading overlay when navigation starts
    $(document).on('click', 'a:not([href^="#"])', function () {
        loadingOverlay.show();
    });

    // Hide loading overlay when navigation completes
    $(document).on('readystatechange', function () {
        if (document.readyState === 'complete') {
            loadingOverlay.hide();
        }
    });

    // Function to close the previous page
    function closePreviousPage() {
        if (previousPage !== null) {
            window.close(previousPage);
        }
    }

    // Function to load tab content
    function loadTabContent(target) {
        $('.tab-content').hide();
        $(target).show();

        // Extract the controller name from the target URL
        var controllerName = target.substring(1).split('/')[0];

        // Adjust the URL construction based on the controller name
        var partialViewUrl = '/' + controllerName;

        $.get(partialViewUrl, function (data) {
            $(target).html(data);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.error("Error loading partial view:", errorThrown);
        });
    }

    // Initial loading of default tab content
    loadTabContent('#sportnews');

    // Handle clicks on navigation links
    $('.nav-link').click(function (e) {
        e.preventDefault();
        var target = $(this).attr('href');

        // Close previous page
        closePreviousPage();

        // Load tab content
        loadTabContent(target);

        // Update active state of navigation links
        $('.nav-link').removeClass('active');
        $(this).addClass('active');

        // Update URL
        var newUrl = baseUrl + target;
        window.history.pushState(null, '', newUrl);

        // Store current page as previous page
        previousPage = newUrl;
    });

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#page-content-wrapper").toggleClass("shifted");
        $("#homeTabsNav").toggleClass("shifted");
        $("#loginNav").toggleClass("shifted");
    });

    document.addEventListener("DOMContentLoaded", function () {
        function adjustBodyPadding() {
            var loginNav = document.getElementById('loginNav');
            var homeTabsNav = document.getElementById('homeTabsNav');
            var scrollTextNavpl = document.getElementById('scrollTextNav-pl');

            var loginNavHeight = loginNav ? loginNav.offsetHeight : 0;
            var homeTabsNavHeight = homeTabsNav ? homeTabsNav.offsetHeight : 0;
            var scrollTextNavHeight = scrollTextNavpl ? scrollTextNavpl.offsetHeight : 0;

            var totalPadding = loginNavHeight + homeTabsNavHeight + scrollTextNavHeight;
            document.body.style.paddingTop = totalPadding + 'px';
        }

        adjustBodyPadding();

        window.addEventListener('resize', adjustBodyPadding);
    });

</script>

@RenderSection("Scripts", required: false)
</html>
