@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserBaseModel> SignInManager
@inject UserManager<UserBaseModel> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewData["Title"] - K&S Foundation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyField.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="loading-overlay">
        <div class="loading-container">
            <div class="loading-spinner"></div>
            <div class="loading-text">Loading...</div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var loadingOverlay = $('#loading-overlay');

            // Show loading overlay when navigation starts
            $(document).on('click', 'a:not([href^="#"])', function () {
                loadingOverlay.show();
            });

            // Hide loading overlay when navigation completes
            $(document).on('readystatechange', function () {
                if (document.readyState === 'complete') {
                    loadingOverlay.hide();
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            function adjustBodyPadding() {
                var loginNav = document.getElementById('loginNav');
                var homeTabsNav = document.getElementById('homeTabsNav');

                var loginNavHeight = loginNav ? loginNav.offsetHeight : 0;
                var homeTabsNavHeight = homeTabsNav ? homeTabsNav.offsetHeight : 0;

                var totalPadding = loginNavHeight + homeTabsNavHeight;
                document.body.style.paddingTop = totalPadding + 'px';
            }

            adjustBodyPadding();

            window.addEventListener('resize', adjustBodyPadding);
        });
    </script>



    @RenderSection("Scripts", required: false)

</body>
</html>
