@model MyField.Models.Transfer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transfer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransferId" />
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <select asp-for="PlayerId" class="form-control" asp-items="ViewBag.PlayerId"></select>
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerClubId" class="control-label"></label>
                <select asp-for="CustomerClubId" class="form-control" asp-items="ViewBag.CustomerClubId"></select>
                <span asp-validation-for="CustomerClubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerClubId" class="control-label"></label>
                <select asp-for="SellerClubId" class="form-control" asp-items="ViewBag.SellerClubId"></select>
                <span asp-validation-for="SellerClubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDateTime" class="control-label"></label>
                <input asp-for="CreatedDateTime" class="form-control" />
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDateTime" class="control-label"></label>
                <input asp-for="ModifiedDateTime" class="form-control" />
                <span asp-validation-for="ModifiedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedById" class="control-label"></label>
                <select asp-for="CreatedById" class="form-control" asp-items="ViewBag.CreatedById"></select>
                <span asp-validation-for="CreatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedById" class="control-label"></label>
                <select asp-for="ModifiedById" class="form-control" asp-items="ViewBag.ModifiedById"></select>
                <span asp-validation-for="ModifiedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approved_Declined_ById" class="control-label"></label>
                <select asp-for="Approved_Declined_ById" class="form-control" asp-items="ViewBag.Approved_Declined_ById"></select>
                <span asp-validation-for="Approved_Declined_ById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

