
<div class="standingsHeader" style="background-image: url('/Images/my_banner.jpg'); color:white;">
    <br />
    <p class="text-center" style="font-size:36px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Fixtures</p>
    <br />
</div>
<div>
    <div>
        <div style="margin-bottom:10px;" id="fixturesContent"> </div>
    </div>
</div>

<script>
    function fetchFixtures() {
        $.ajax({
            url: '/Fixtures/Index',
            success: function (data) {
                $('#fixturesContent').html(data);
            }
        });
    }

    $(document).ready(function () {
        fetchFixtures();
    });
</script>


