
<div class="standingsHeader" style="background-image: url('/Images/my_banner.jpg'); color:white;">
    <br />
    <p class="text-center" style="font-size:36px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Club pages</p>
    <br />
</div>
<div>
    <div>
        <div style="margin-bottom:10px;" id="clubsContent"> </div>
    </div>
</div>

<script>
    function fetchClubs() {
        $.ajax({
            url: '/Clubs/Index',
            success: function (data) {
                $('#clubsContent').html(data);
            }
        });
    }


    $(document).ready(function () {
        fetchClubs();
    });
</script>
