@model MyField.ViewModels.ReEditNewsViewModel

@{
    ViewData["Title"] = "Edit sport news";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<br />
@await Html.PartialAsync("_BackButton")
<h4 style="text-align:center;">Edit sport news</h4>
<br />
<div class="row news-container">
    <div class="col-md-12">
        <form asp-action="ReEditNews" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center">
                <div class="mb-3">
                    <div style="display: flex; justify-content: center; position: relative;">
                        <div style="border: 1px solid #ccc; padding: 0; border-radius: 5%; width: 250px; height: 250px; overflow: hidden; position: relative;">
                            <i class="fa fa-image" id="news-image-placeholder" style="font-size: 90px; color: #f0f0f0;"></i>
                            <img id="current-news-image" src="~/@Model.NewsImage" alt="Current News Image" style="border-radius: 5%; width: 100%; height: 100%; object-fit: cover; display: none;" />
                            <img id="news-image-preview" alt="News Image Preview" style="border-radius: 5%; width: 100%; height: 100%; object-fit: cover; display: none;" />
                            <label for="Input_NewsImages" style="position: absolute; bottom: 10px; right: 10px; background: white; border-radius: 50%; padding: 5px; cursor: pointer; z-index: 1;">
                                <i class="fa fa-camera" style="font-size: 30px; color: #333;"></i>
                                <input asp-for="NewsImages" id="Input_NewsImages" class="form-control" type="file" onchange="previewNewsImage(event)" accept="image/*" style="display: none;" />
                            </label>
                        </div>
                    </div>
                    <span asp-validation-for="NewsImages" class="text-danger"></span>
                </div>
            </div>



            <input type="hidden" asp-for="NewsImage" />
            @if(Model.ReasonForReEdit != null)
            {
                <div class="form-floating mb-3">
                    <textarea asp-for="ReasonForReEdit" class="form-control border-bottom-only" placeholder="ReasonForReEdit" style="min-height: 150px; white-space: pre-wrap;" readonly></textarea>
                    <label asp-for="ReasonForReEdit" class="form-label">What to edit?</label>
                    <span asp-validation-for="ReasonForReEdit" class="text-danger"></span>
                </div>
            }
            else
            {
                
            }
            <div class="form-floating mb-3">
                <input asp-for="NewsTitle" class="form-control border-bottom-only" placeholder="NewsHeading" />
                <label asp-for="NewsTitle" class="form-label">News title</label>
                <span asp-validation-for="NewsTitle" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="NewsBody" class="form-control border-bottom-only" placeholder="NewsBody" style="min-height: 400px;"></textarea>
                <label asp-for="NewsBody" class="form-label">News body</label>
                <span asp-validation-for="NewsBody" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="display: flex; justify-content: flex-end;">
                        <input type="hidden" asp-for="NewsId" value="@Model?.NewsId" />
                        <input type="submit" value="Save" class="btn btn-success" style="padding: 10px; margin-bottom: 10px;" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        function previewNewsImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('news-image-preview');
                output.src = reader.result;
                output.style.display = 'block';
                document.getElementById('news-image-placeholder').style.display = 'none';
                document.getElementById('current-news-image').style.display = 'none';
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        document.addEventListener("DOMContentLoaded", function () {
            var currentImageSrc = document.getElementById('current-news-image').src;
            if (currentImageSrc) {
                document.getElementById('current-news-image').style.display = 'block';
                document.getElementById('news-image-placeholder').style.display = 'none';
            }
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
