@{
    ViewData["Title"] = "Welcome to Your Club Manager Dashboard!";
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}

<style>
    .center-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }

    .register-confirm-email-container {
        max-width: 700px;
        padding: 20px;
        border-radius: 7px;
        background-color: white;
        text-align: center;
    }

</style>

<div class="center-container">
    <div class="register-confirm-email-container">
        <h3 class="text-center">
            Welcome to Sport Rise!
        </h3>
        <br />
        <p class="text-center">
            Your account has been successfully created, and we're excited to have you on board. 🎉
            To get started, please check your email for a confirmation message and verify your email address.
            If you don’t see it, be sure to check your spam or junk folder.
        </p>
        <p class="text-center">
            If you have any questions or need assistance, feel free to reach out to our support team.
            We’re here to help!
        </p>
    </div>
</div>
