@{
    ViewData["Title"] = "Home Page";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_PagesLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div>
    <div id="sportnews" class="tab-content active">
    </div>
    <div id="fixtures" class="tab-content">
    </div>
    <div id="standings" class="tab-content">
    </div>
    <div id="tournaments" class="tab-content">
    </div>
    <div id="matchresults" class="tab-content">
    </div>
    <div id="clubs" class="tab-content">
    </div>
</div>
