@{
    ViewData["Title"] = "Official Dashboard";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<style>
    .card {
        border: none;
        border-radius: 8px;
        margin-bottom: 20px;
        background: white;
        width: 100%;
        height: 30vh; /* Reduced height */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* 3D shadow effect */
    }


    .card-title {
        color: #030319;
        font-size: 20px; /* Adjusted font size */
    }

    .card-text {
        color: #030319;
    }

    .btn-primary {
        background-color: #B0E0FC;
        color: #030319;
        transition: background-color 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #030319;
        }

    .styled-button {
        background-color: #ffffff;
        color: #030319;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        text-decoration: none;
    }

        .styled-button span.arrow {
            margin-left: 10px;
        }

    .center-number {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30%;
        margin: 0;
    }

    h2 {
        color: #D4D4D4;
    }
</style>

<br />
<h2>K-SANS SPORTS</h2>
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card matchesto-officiate-card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title"><i class="fas fa-flag"></i> Matches to officiate</h5>
                    <p class="card-text">Matches to officiate are listed here</p>
                    <h1 class="card-text text-center center-number">@ViewBag.MatchesToOfficiate</h1>
                    <a asp-controller="Fixtures" asp-action="MatchesToOfficiate" class="btn btn-primary mt-auto align-self-end styled-button">
                        <span>Matches</span>
                        <span class="arrow">&#10148;</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card previously-officated-card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title"><i class="fas fa-history"></i> Previously officiated matches</h5>
                    <p class="card-text">Previously officiated matches are listed here</p>
                    <h1 class="card-text text-center center-number">@ViewBag.PreviouslyOfficiatedMatches</h1>
                    <a asp-controller="Fixtures" asp-action="PreviouslyOfficiatedMatches" class="btn btn-primary mt-auto align-self-end styled-button">
                        <span>Matches</span>
                        <span class="arrow">&#10148;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card meetings-card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title"><i class="fas fa-calendar-alt"></i> Meetings</h5>
                    <p class="card-text">Officials meetings will be listed here</p>
                    <h1 class="card-text text-center center-number">@ViewBag.OfficialsMeetings</h1>
                    <a asp-controller="Meetings" asp-action="Meetings" class="btn btn-primary mt-auto align-self-end styled-button">
                        <span>Meetings</span>
                        <span class="arrow">&#10148;</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card aanouncement-card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title"><i class="fas fa-bullhorn"></i> Announcements</h5>
                    <p class="card-text">Announcements will be listed here</p>
                    <h1 class="card-text text-center center-number">@ViewBag.SportMeetings</h1>
                    <a asp-controller="Announcements" asp-action="Announcements" class="btn btn-primary mt-auto align-self-end styled-button">
                        <span>Announcements</span>
                        <span class="arrow">&#10148;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
