@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Welcome to Your Club Manager Dashboard!";
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}

<style>
    .center-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }

    .register-confirm-email-container {
        max-width: 700px;
        padding: 20px;
        border-radius: 7px;
        background-color: white;
        text-align: center;
    }

</style>

<div class="center-container">
    <div class="register-confirm-email-container">
        <h3 class="text-center">
            Email Verification Successful
        </h3>
        <br />
        <p class="text-center">
            Thank you for verifying your email address. You can now log in to your account and start using our services.
        </p>
        <br />
        <div class="text-center">
            <a asp-page="./Login" class="btn btn-primary mt-3">Login</a>
        </div>
    </div>
</div>
