@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}
<br />
@await Html.PartialAsync("_BackButton")
<br>
<h4 style="text-align:center;">Forget password</h4>
<br />
<p class="text-center">Please note that you need to fill in you email address in the field below to get a password reset link.</p>
<br />
<div class="forget-password-container">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
