@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}

<div class="forget-password-container">
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="text-center">
            <h1>Password reset email sent successfully</h1>
            <p>
                We've sent the password reset email to the email address you provided in the previous page. Please check your email to reset your password.
            </p>
            <a href="/" class="btn btn-primary mt-3">Home</a>
        </div>
    </div>
</div>
