@page
@model LoginModel

@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}
<br />
@await Html.PartialAsync("_BackWhiteButton", true)
<style>
    body {
        background-image: url('/images/nfa_cover.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .login-container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
    }

    .logo-container {
        margin-top: 20px;
        padding-top: 30px;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: center;
    }

        .logo-container img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            background-color: transparent;
        }
</style>
<div class="logo-container">
    <img src="/Images/nfa_logo_lgo.png" alt="Logo">
</div>
<div class="row login-container" style="max-width: 400px; margin: auto;">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <section>
            <h1 style="text-align:center; margin-bottom:30px; font-size: 1.5rem;">Sign In</h1>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.EmailOrPhone" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="font-size: 0.9rem; padding: 10px;" />
                    <label asp-for="Input.EmailOrPhone" class="form-label">Email or mobile number</label>
                    <span asp-validation-for="Input.EmailOrPhone" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" style="font-size: 0.9rem; padding: 10px;" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="row align-items-center">
                    <div class="checkbox mb-2 col-6 d-flex align-items-center">
                        <label asp-for="Input.RememberMe" class="form-label d-flex align-items-center mb-0" style="font-size: 0.9rem;">
                            <input class="form-check-input me-2" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div class="col-6 text-end">
                        <a id="forgot-password" asp-page="./ForgotPassword" style="font-size: 0.9rem;">Forgot password?</a>
                    </div>
                </div>
                <br />
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" style="margin-bottom:10px; border-radius:10px; font-size: 0.9rem; padding: 10px;">Log in</button>
                </div>
                <div style="display: flex; justify-content: center; font-size: 0.9rem;">
                    <p style="margin-right: 5px;">Don't have an account?</p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create a new account</a>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
