@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}

<div class="reset-password-container">
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="text-center">
            <h1>You password has been resetted successfully</h1>
            <p>
                You have resetted your password successfully. A confimation email has been sent to your email address.
            </p>
            <a a asp-page="./Login"class="btn btn-primary mt-3">Login</a>
        </div>
    </div>
</div>
