@{
    ViewData["Title"] = "Secret Codes";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}
<br />
@await Html.PartialAsync("_HomeButton")
<h4 style="text-align:center;">Secret Codes</h4>
<br />

<div class="secret-codes-container">
    <br />
    <p class="text-center" style="font-size:20px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">League code</p>
    <div class="container">
        <div id="leagueCodeContent" style="margin-bottom: 10px;"></div>
    </div>
    <br />
    <p class="text-center" style="font-size:20px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Club codes</p>
    <div class="container">
        <div id="clubCodeContent" style="margin-bottom: 10px;"></div>
    </div>
</div>


<div id="notification" class="notification"></div>

<style>
    .notification {
        visibility: hidden;
        min-width: 250px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        font-size: 17px;
    }

    .notification.show {
        visibility: visible;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function fetchLeagueCode() {
        $.ajax({
            url: '/Leagues/LeagueCode',
            success: function (data) {
                $('#leagueCodeContent').html(data);
            }
        });
    }

    function fetchClubsCodes() {
        $.ajax({
            url: '/Leagues/ClubCodes',
            success: function (data) {
                $('#clubCodeContent').html(data);
            }
        });
    }

    $(document).ready(function () {
        fetchLeagueCode();
        fetchClubsCodes();
    });

    function copyLeagueCodeToClipboard(leagueCode) {
        const tempInput = document.createElement('input');
        tempInput.style.position = 'absolute';
        tempInput.style.left = '-9999px';
        tempInput.value = leagueCode;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        showNotification('League code copied to clipboard');
    }

    function copyClubCodeToClipboard(clubCode) {
        const tempInput = document.createElement('input');
        tempInput.style.position = 'absolute';
        tempInput.style.left = '-9999px';
        tempInput.value = clubCode;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        showNotification('Club code copied to clipboard');
    }

    function showNotification(message) {
        const notification = document.getElementById('notification');
        notification.innerText = message;
        notification.className = 'notification show';
        setTimeout(function () {
            notification.className = notification.className.replace('show', '');
        }, 3000);
    }
</script>
