@model MyField.ViewModels.LeagueViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<br />
@await Html.PartialAsync("_BackButton")
<h4 style="text-align:center;">Start a new season</h4>
<br />
<div class="row league-container">
    <div class="col-md-12">
        @if (TempData["Message"] != null)
        {
            <div id="tempDataMessage" class="alert @(TempData["Message"].ToString().Contains("successfully") ? "alert-success" : "alert-danger")" role="alert">
                @TempData["Message"]
                <span class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </span>
            </div>
        }
        <form asp-action="StartLeague">
            <div class="form-floating mb-3">
                <input asp-for="LeagueYears" class="form-control border-bottom-only" placeholder="LeagueYears" />
                <label asp-for="LeagueYears" class="form-label">Season</label>
                <span asp-validation-for="LeagueYears" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating mb-3">
                <input asp-for="OldLeagueCode" class="form-control border-bottom-only" placeholder="OldLeagueCode" />
                <label asp-for="OldLeagueCode" class="form-label">Old season code</label>
                <span asp-validation-for="OldLeagueCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Start season" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("tempDataMessage").style.display = "none";
    }, 3000); 
</script>